{% extends "admissionbase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

<div style="display: flex;
flex-wrap: wrap;
justify-content: center;">
  <div style="width: 70%;margin-top: 10px;">

    <div class="row" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;" >
        <div style=" display: flex;

        align-items: center;
        width: 50px;width: 310px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #FFFFFF;
        margin-bottom: 20px;
        padding: 0 15px;" >
    <b>Grand Total : &nbsp;</b>{{grand_tot}}&nbsp; (INR)
    </div>
      
      
      
        <form class="d-flex justify-content-end col"  action="{{ url_for('billing') }}" method="POST">

            <input style=" display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;width: 310px;
            height: 50px;
            border: 1px solid #dee0e4;
            margin-bottom: 20px;
            padding: 0 15px;" type="number" val name="pat_id" placeholder="Patient ID" id="pat_id" required>
        
          <button type="submit" style="display: flex;
          border: 0;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          background-color: #3274d6;
          color: #ffffff;" for="password">
            <i class="fas fa-search"></i>
          </button>
      </form>
     
 
  </div>
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 10px;margin-bottom: 10px;">
    <h1>Patient Details</h1>
    <form>
    <div class="container" style="margin-top: -10px; margin-bottom: 10px;margin-left: 30px; margin-right: 30px;">
        <div class="container" style="margin:10px; color: red;" >
            <center>{{ msg }}</center>
        </div>
        <div class="row" >
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">SSN ID  </div>
                    <div>
                        <input id="ssn_id" name="ssn_id" value="{{ patient['ssn_id'] }}" style="display: none;"/>
                    <input disabled type="number"  placeholder="{{patient['ssn_id']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Type of Bed  </div>
                    <div>
                        <select disabled name="rtype" id="rtype" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;">
                            <option value="" selected disabled hidden>{{ patient['rtype'] }}</option>
                            <option value="General">General Ward</option>
                            <option value="Semi">Semi Sharing</option>
                            <option value="Single">Single Room</option>
                        </select>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Patient Name </div>
                    <div>
                    <input disabled type="text" id="pat_name" name="pat_name" placeholder="{{patient['pat_name']}}" value="{{patient['pat_name']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Address </div>
                    <div>
                    <input disabled type="text" id="address" name="address" placeholder="{{patient['address']}}" value="{{patient['address']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Age  </div>
                    <div>
                    <input disabled type="number" id="age" name="age" placeholder="{{patient['age']}}" value="{{patient['age']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">City </div>
                    <div>
                    <input disabled type="text" id="city" name="city" placeholder="{{patient['city']}}" value="{{patient['city']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Date of Joining </div>
                    <div>
                    <input disabled type="date" id="doj" name="doj" placeholder="{{patient['doj']}}" value="{{patient['doj']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">State </div>
                    <div>
                    <input disabled type="text" id="state" name="state" placeholder="{{patient['state']}}" value="{{patient['state']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Date of Discharge </div>
                    <div>
                    <input disabled type="date" id="doj" name="doj" placeholder="{{patient['dod']}}" value="{{patient['dod']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Room Bill (INR)</div>
                    <div>
                    <input disabled type="number" id="roombill" name="roombill" placeholder="{{patient['roombill']}}" value="{{patient['roombill']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        
    
        
    </div>

</form> 
        
        

    
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 50px; margin-bottom: 0px;">
    <h1> Issued Medicines</h1>
    <table id="dtDynamicVerticalScrollExample" style="width:100%;"  class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">MEDICINE NAME</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">RATE</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
    
          {% for i in medicines %} 
     
          <tr class="clickable-row" data-href="{{ url_for('patientDetails',pat_id=i.pat_id) }}" method = POST>
            <th scope="row">{{ loop.index}}</th>
            <td>{{i.med_name}}</td>
            <td>{{i.quantity_issued}}</td>
            <td>{{i.med_rate}}</td>
            <td>{{i.amount}}</td>
            
          </tr>
    {%endfor%} 

    <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        
        <td><b>Total</b></td>
        <td>{{med_sum}}</td>
        
      </tr>
         
        </tbody>
      </table>
        
        

    
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 50px;margin-bottom: 20px;">
    <h1> Diagnostics Conducted</h1>
    <table id="dtDynamicVerticalScrollExample" style="width:100%; text-align: center;"  class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">#</th>
       
            <th scope="col">NAME</th>
            <th scope="col">AMOUNT</th>
          </tr>
        </thead>
        <tbody>
    
          {% for i in tests %} 
     
          <tr class="clickable-row" data-href="{{ url_for('patientDetails',pat_id=i.pat_id) }}" method = POST>
            <th scope="row">{{ loop.index}}</th>
           
            <td>{{i.test_name}}</td>
            <td>{{i.test_rate}}</td>
            
          </tr>
    {%endfor%} 

    
    <tr>
        <th scope="row"></th>
       
        
        <td><b>Total</b></td>
        <td>{{dig_sum}}</td>
        
      </tr>
         
        </tbody>
      </table>
        
        

    
</div>

{% if grand_tot %}
<div style="width: 70%;margin-top: 10px;margin-bottom: 50px;">

    <center>
      
        <form action="{{ url_for('billing') }}" method="POST">
            <input style="display: none;" type="number" name="confirm_pid" value="{{patient['pat_id']}}">

            <button type="submit" id="add" class="d-flex justify-content-center btn" style="padding-top: 10px;
            height: 50px;
            background-color: #3274d6;
            border: 0;
            border-color:#3274d6 ;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
           ">Confirm Payment</button>
        </form>
      
        
    </center>
    </div>
{% endif %}



{% endblock content %}


{% block scripts %}
<script>
    $("#billing").css("color", "#ffffff");





    $("#delete").click(function(){
        
        if($("#patient_names").val()===$("#del_name").val()){

            window.location = $(this).data("href");

        }
        else{
            $("#del_name").val('')
        }
    })

    function updateEnable() {
        document.getElementById("address").removeAttribute("disabled");
        document.getElementById("pat_name").removeAttribute("disabled");
        document.getElementById("doj").removeAttribute("disabled");
        document.getElementById("rtype").removeAttribute("disabled");
        document.getElementById("city").removeAttribute("disabled");
        document.getElementById("age").removeAttribute("disabled");
        document.getElementById("state").removeAttribute("disabled");
        document.getElementById("updatebtn").style.display = "block";

        var rtype = "{{ patient['rtype'] }}";
        document.getElementById("rtype").value = rtype;
        
    }
    


</script>
{% endblock scripts %}