{% extends "empbase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
		<div class="register" >
			<h1>Create Account</h1>
			<form action="{{ url_for('createAccount') }}" method="post" autocomplete="off">


                
                <div >
                                
                 <input  type="number" name="cust_id" placeholder="Customer ID" id="cust_id" style=" width: 310px;
                 height: 50px;
                 border: 1px solid #dee0e4;
                 margin-bottom: 20px;
                 padding: 0 15px;" required>
                 <br>
            
                 <select id="acc_type" name="acc_type" style=" width: 310px;
                 height: 50px;
                 border: 1px solid #dee0e4;
                 margin-bottom: 20px;
                 padding: 0 15px;" >
                    <option value="savings">savings</option>
                    <option value="current">current</option>
         
                  </select><br>
            
             <input type="number" name="amount" placeholder="Deposit amount" id="amount" style=" width: 310px;
             height: 50px;
             border: 1px solid #dee0e4;
             margin-bottom: 20px;
             padding: 0 15px;" required><br>
                    <center>{{ msg }}</center>
                </div>
                
				
				<input type="submit" value="Create">
            </form>
            
        </div>

{% endblock content%}


{% block scripts %}
<script>
    $("#accounts").css("color", "#ffffff");
</script>
{% endblock scripts %}