{% extends "empbase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
		<div class="register" style="width:60%">
			<h1>Patient Registration</h1>
			<form action="{{ url_for('createPatient') }}" method="post" autocomplete="off">
				<div class="row">
                    <div class="col"  style="margin-right:30px">
                        <input  type="number" name="ssn_id" placeholder="Patient SSN ID" id="ssn_id" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    <div class="col">
                        <select name="rtype" id="rtype" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;">
                            <option value="" selected disabled hidden>Type of Bed</option>
                            <option value="General">General Ward</option>
                            <option value="Semi">Semi Sharing</option>
                            <option value="Single">Single Room</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-right:30px">
                        <input type="text" name="pat_name" placeholder="Patient Name" id="pat_name" required>
                    </div>
                    <div class="col">
                        <input type="text" name="address" placeholder="Address" id="address" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-right:30px">
                        <input type="number" name="age" placeholder="Age" id="age" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    <div class="col">
                        <input type="text" name="city" placeholder="City" id="city" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-right:30px">
                        <input  type="text" name="doj" placeholder="Date of Joining" id="doj" onfocus="(this.type='date')" onblur="(this.type='text')" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    <div class="col">
                        <input type="text" name="state" placeholder="State" id="state" required>
                    </div>
                </div>
                
                <div class="container">
                    <center>{{ msg }}</center>
                </div>
                
				
				<input type="submit" value="Create">
            </form>
            
        </div>

{% endblock content%}


{% block scripts %}
<script>
    $("#customers").css("color", "#ffffff");
</script>
{% endblock scripts %}