{% extends "custBase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

<div style="color: rgb(211, 216, 226);display:flex; flex-direction:column; justify-content:center;">
    <div class="register" style="width: 40%; padding-top: 20px;">

        <div class="container" style="margin-left: 20px;margin-right: 20px;color: black;" >
            <div>
                <div class="row">
                    <div  class="col-4" style="height: 50px;align-self: center;">Account Number  :</div>
                    <div>
                
                        <select id="acc_number" name="acc_type" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" >
                        {% for i in accounts %} 
                        <option value="{{i['acc_id'],i['cust_id'],i['acc_type'],i['amount']}}" label="{{i['acc_id']}}"></option>
                        {% endfor %}
                        </select><br>
                        
                    </div>
            </div>
    
        </div>
    </div>
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 10px;">
    <h1>Account Details</h1>
    <div class="container" style="margin-top: 30px;margin-left: 30px; margin-right: 30px;">
        <div class="row" >
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Account ID  </div>
                    <div>
                        <!--<input id="acc_id" name="acc_id" value="{{ accounts['acc_id'] }}" style="display: none;"/>-->
                    <input disabled id="acc_id" name="acc_id" value="{{ accounts[0]['acc_id'] }}" type="number"  placeholder="{{accounts[0]['acc_id']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Customer ID  </div>
                    <div>
                    <input disabled type="text" id="cust_id" name="cust_id" placeholder="{{accounts[0]['cust_id']}}" value="{{accounts[0]['cust_id']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Account Type </div>
                    <div>
                    <input disabled type="text" id="acc_type" name="acc_type" placeholder="{{accounts[0]['acc_type']}}" value="{{accounts[0]['acc_type']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Balance </div>
                    <div>
                    <input disabled type="text" id="amount" name="amount" placeholder="{{accounts[0]['amount']}}" value="{{accounts[0]['amount']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        
    </div>
    
</div>

{% endblock content %}


{% block scripts %}
<script>
    $("#customers").css("color", "#ffffff");

    $('#acc_number').on('change',function(){
        var acc_details = $('#acc_number').val();
        acc_details = acc_details.substring(1,acc_details.length-1);
        var acc_details_list = acc_details.split(',');
        console.log(acc_details);
        console.log(acc_details_list);
        console.log(acc_details_list[0]);
        console.log(acc_details_list[1]);
        console.log(acc_details_list[2]);
        console.log(acc_details_list[3]);
        acc_details_list[1] = acc_details_list[1].substring(1,acc_details_list[2].length);
        acc_details_list[2] = acc_details_list[2].substring(2,acc_details_list[2].length-1);
        acc_details_list[3] = acc_details_list[3].substring(1,acc_details_list[2].length);
        $('#acc_id').attr({"value":acc_details_list[0], "placeholder":acc_details_list[0]});
        $('#cust_id').attr({"value":acc_details_list[1], "placeholder":acc_details_list[1]});
        $('#acc_type').attr({"value":acc_details_list[2], "placeholder":acc_details_list[2]});
        $('#amount').attr({"value":acc_details_list[3], "placeholder":acc_details_list[3]});

    });

</script>
{% endblock scripts %}