{% extends "empbase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

<div style="display: flex;
flex-wrap: wrap;
justify-content: center;">
  <div style="width: 70%;margin-top: 10px;">

    <div class="row" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;" >
      
      
        <button type="button" onClick="updateEnable()" id="add" class="d-flex justify-content-start btn" style="padding-top: 10px;
        height: 50px;
        background-color: #3274d6;
        border: 0;
        border-color:#3274d6 ;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
       ">Update customer </button>
      
       
       <div class="d-flex justify-content-end col">
        <input style=" display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;width: 310px;
        height: 50px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        padding: 0 15px;" type="text" val id="del_name" placeholder="Type below Customer Name to remove" id="search" required>
        <input style="display:none;" id="cust_names" type="text" value="{{customer['cust_name']}}"/>
    

     
      <button id="delete" data-href="{{ url_for('deleteCustomer',cid=customer.cust_id) }}" style="    display: flex;
      border: 0;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #3274d6;
      color: #ffffff;" for="password">
        <i class="fas fa-trash"></i>
      </button>
    </div>
      
 
  </div>
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 30px;">
    <h1>Customer details</h1>
    <form action="{{ url_for('updateCustomer',cust_id=customer.cust_id) }}" method="POST" autocomplete="off">
    <div class="container" style="margin-top: 40px;margin-left: 30px; margin-right: 30px;">
        <div class="row" >
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">SSN ID  </div>
                    <div>
                        <input id="ssn_id" name="ssn_id" value="{{ customer['ssn_id'] }}" style="display: none;"/>
                    <input disabled type="number"  placeholder="{{customer['ssn_id']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Address Line 1  </div>
                    <div>
                    <input disabled type="text" id="add_1" name="add_1" placeholder="{{customer['address_1']}}" value="{{customer['address_1']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Customer name </div>
                    <div>
                    <input disabled type="text" id="cust_name" name="cust_name" placeholder="{{customer['cust_name']}}" value="{{customer['cust_name']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Address Line 2 </div>
                    <div>
                    <input disabled type="text" id="add_2" name="add_2" placeholder="{{customer['address_2']}}" value="{{customer['address_2']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Password  </div>
                    <div>
                    <input disabled type="text" id="cust_pass" name="cust_pass" placeholder="{{customer['cust_pass']}}" value="{{customer['cust_pass']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">City </div>
                    <div>
                    <input disabled type="text" id="city" name="city" placeholder="{{customer['city']}}" value="{{customer['city']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Age </div>
                    <div>
                    <input disabled type="number" id="age" name="age" placeholder="{{customer['age']}}" value="{{customer['age']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">State </div>
                    <div>
                    <input disabled type="text" id="state" name="state" placeholder="{{customer['state']}}" value="{{customer['state']}}" style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        
    
        
    </div>
    <input  style="display: none;" id="updatebtn" type="submit" value="Update">

</form> 
        
        

    
</div>



{% endblock content %}


{% block scripts %}
<script>
    $("#customers").css("color", "#ffffff");




    $("#delete").click(function(){
        
        if($("#cust_names").val()===$("#del_name").val()){

            window.location = $(this).data("href");

        }
        else{
            $("#del_name").val('')
        }
    })

    function updateEnable() {
        document.getElementById("add_1").removeAttribute("disabled");
        document.getElementById("cust_name").removeAttribute("disabled");
        document.getElementById("add_2").removeAttribute("disabled");
        document.getElementById("cust_pass").removeAttribute("disabled");
        document.getElementById("city").removeAttribute("disabled");
        document.getElementById("age").removeAttribute("disabled");
        document.getElementById("state").removeAttribute("disabled");
        document.getElementById("updatebtn").style.display = "block";

        
    }
    


</script>
{% endblock scripts %}