
{% extends "custBase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
		<div class="register" style="width: 40%;">
			<h1>Transfer</h1>
			<form action="{{ url_for('transfer',cid=account['acc_id']) }}" method="POST" autocomplete="off">


                
                <div class="container" style="margin-left: 20px;margin-right: 20px;" >

                    <div class="row">
                        <div  class="col-4" style="height: 50px;align-self: center;">Account Number  :</div>
                        <div>
                            
                            <input disabled type="number" name="acc_id" placeholder="{{account['acc_id']}}" id="acc_id" style=" width: 310px;
                            height: 50px;
                            
                            border: 1px solid #dee0e4;
                            margin-bottom: 20px;
                            padding: 0 15px;" required><br>
                        </div>
                      </div>  

                      
                      <div class="row">
                        <div class="col-4" style="height: 50px;align-self: center;">Account Type :</div>
                        <div>
                            <input disabled type="text" name="cust_id" placeholder="{{account['acc_type']}}" id="cust_id" style=" width: 310px;
                            height: 50px;
                            
                            border: 1px solid #dee0e4;
                            margin-bottom: 20px;
                            padding: 0 15px;" required>
                          
                        </div>
                        </div>  

                        <div class="row">
                            <div class="col-4" style="height: 50px;align-self: center;">Target Account Type :</div>
                            <div>
                                <select id="target_acc_type" name="target_acc_type" style=" width: 310px;
                                height: 50px;
                                border: 1px solid #dee0e4;
                                margin-bottom: 20px;
                                padding: 0 15px;" >
                                   <option value="savings">savings</option>
                                   <option value="current">current</option>
                        
                                 </select><br>
                              
                            </div>
                            </div>  
                            <div class="row">
                                <div class="col-4" style="height: 50px;align-self: center;">Target Account No :</div>
                                <div>
                                    <input  type="number" name="target_acc" placeholder="Enter amount to deposit" id="target_acc" style=" width: 310px;
                                    height: 50px;
                                    
                                    border: 1px solid #dee0e4;
                                    margin-bottom: 20px;
                                    padding: 0 15px;" required>
                                  
                                </div>
                                </div>  

                                <div class="row">
                                    <div class="col-4" style="height: 50px;align-self: center;">Transfer amount :</div>
                                    <div>
                                        <input  type="number" name="transfer_amount" placeholder="Enter amount to deposit" id="transfer_amount" style=" width: 310px;
                                        height: 50px;
                                        
                                        border: 1px solid #dee0e4;
                                        margin-bottom: 20px;
                                        padding: 0 15px;" required>
                                      
                                    </div>
                                    </div>  
            
                  
        
                    
         
            
             
                    <center>{{ msg }}</center>
                </div>
                
				
				<input type="submit" value="Transfer">
            </form>
            
        </div>

{% endblock content%}


{% block scripts %}
<script>
    $("#home").css("color", "#ffffff");
</script>
{% endblock scripts %}